@model IEnumerable<InventoryAcc.Models.ComponentViewModel>

@{
    ViewData["Title"] = "Главная";
}

<h1>Главная страница</h1>

<p class="form-inline form-group">
    <a asp-action="Create" class="btn btn-outline-primary">Добавить</a>
</p>

<form asp-asp-controller="Components" asp-action="Index">
    <label class="control-label" style="margin-left:10px;">Статус: </label>
    <select name="status" class="form-select-sm" style="max-width: 200px; margin-left:5px;">
        <option></option>
        <option>В работе</option>
        <option>На складе</option>
        <option>Списано</option>
    </select>
    <input type="submit" value="Фильтр" class="btn btn-light" style="margin-left:5px;"/>
</form>    


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chief)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Responsible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chief)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Responsible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" style="color:red">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
